/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
img {
width: 100%;
display: block;
}

body {
background-color: #fafafa;
max-width: 75em;
margin: 0 auto;
}

div.container {
background-color: rgb(132, 45, 43);
padding: 0rem 0.25rem auto 0.25rem;
}

nav ul {
margin: 1rem 0 1rem;
text-align: left;
}

nav ul li {
display: inline;
list-style-type: none;
background-color: rgb(132, 45, 43);
padding: 0 1.25rem;
font-family: tgn-soft-round-con, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 1.5rem;
text-transform: uppercase;
}

nav ul li a {
text-decoration: none;
color: #fafafa;
}

nav ul li a:hover {
color: #1e1e1e;
}

ul {
color: #fafafa;
}

section{
background-color: rgb(132, 45, 43);
}

h1 {
padding: 1rem;
margin-top: 2rem;
}

h2 {
color: #fafafa;
margin: 1rem 1rem 0 1rem;
font-family: gryphius-mvb-small-caps, serif;
font-weight: 600;
font-style: normal;
font-size: 2.5rem;
}

h2.welcome {
font-size: 4rem;
}

h3 {
color: #fafafa;
margin: 0.5rem 1rem .25rem;
font-family: gryphius-mvb-small-caps, serif;
font-weight: 400;
font-style: normal;
font-size: 1.75rem;
letter-spacing: .05em;
}

h4 {
margin: 1rem 1rem 2rem 1rem;
color: #fafafa;
font-family: gryphius-mvb, serif;
font-weight: 400;
font-style: normal;
font-size: 1.5rem;
}

p {
color: #fafafa;
margin: 0 1rem 1rem 1rem;
padding-bottom: 1rem;
font-family: trade-gothic-next-condensed, sans-serif;
font-weight: 200;
font-style: normal;
letter-spacing: .05em;
font-size: 1rem;
}

p.description {
font-family: trade-gothic-next-condensed, sans-serif;
font-weight: 700;
font-style: normal;
margin: 0 1rem 0
}

ul.prices ul {
list-style-type: none;
margin: 0 1.25rem;

}

ul.prices li {
color: #fafafa;
margin: 0 0rem .25rem 0rem;
font-family: trade-gothic-next-condensed, sans-serif;
font-weight: 200;
font-style: normal;
letter-spacing: .05em;
font-size: 1rem; 
list-style-type: none;
}

ul.flavor {
color: #fafafa;
margin: 0 1rem 0;
font-family: trade-gothic-next-condensed, sans-serif;
font-weight: 200;
font-style: normal;
letter-spacing: .05em;
line-height: 1.5rem;
font-size: 1rem; 
list-style-type: none;
padding-bottom: 1rem;
}

@media screen and (min-width: 60em){

    
    section.contactUs {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 65% 15% 20%;

    }
    
    h2.contactInfo {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0.5rem 1rem;
    display: block;
}
    p.contactInfo {
   grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.1em;
    line-height: 1.5rem;
    margin: 0.5rem 1rem;
    display: block;
}

    article.letsConnect {
    grid-column: 1/3;
    grid-row: 3/4;
    margin:0rem 0.5rem;
    display: block;
}


img.contactImage {
    grid-column: 1/2;
    grid-row: 1/3;
    margin:0.75rem 0rem;

}
   
}
